<ul class="list">
	<li *ng-for="#gasket of (gaskets | async)" [router-link]="['../GasketItem', { id: gasket.id }]">
		{{ gasket.outerDiameter }} x {{ gasket.innerDiameter }}
	</li>
</ul>

<div *ng-if="gasket | async" class="viewer">
	<gasket-model-form *ng-if="gasket" [gasket]="gasket | async"></gasket-model-form>
	<gasket *ng-if="gasket"
		[outer-diameter]="(gasket | async)?.outerDiameter"
		[inner-diameter]="(gasket | async)?.innerDiameter"></gasket>
</div>
<div *ng-if="!(gasket | async)">Loading</div>
